<?xml version="1.0"?>
<launch>
    <!-- loading the drone model and simulation setup -->
    <include file="$(find drone)/launch/L1_start_simulation.launch" />

    <!-- Loading the mapp -->
<node pkg="map_server" name="map_server" type="map_server" args="$(find drone)/map/map.yaml"/>


    <!-- going to add Adaptive Monto Carlo localization Package -->
    <node pkg="amcl" type="amcl" name="amcl" >
        <param name="base_frame_id" value="base_footprint"/>
        <param name="odom_frame_id" value="nav"/>
        <param name="use_map_topic" value="false"/>
        <param name="scan_topic" value="scan"/>
    </node>

</launch>
